<!DOCTYPE HTML>
<html>
   <head>
     <title>toto</title>
     $context.setCssDependency("css")
     <link rel="stylesheet" type="text/css" href="$context.getProperties().get("serverRoot")/res/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" src="$context.getProperties().get("serverRoot")/res/js/bootstrap-lightbox.min.css">
     
   </head>
   <body class="container" style="background-color:rgb(16, 16, 16);">
    $context.getFragment("shared/main_header")
    $context.getFragment("__CURRENT__")
    $context.getFragment("shared/main_footer")

	<script>
     var APP_CONTEXT = '$context.getProperties().get("serverRoot")';
   </script> 
   
<!-- 
    jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed 
  -->
  


   <script src="$context.getProperties().get("serverRoot")/res/js/bootstrap.min.js"></script>
   <script src="$context.getProperties().get("serverRoot")/res/js/bootstrap-lightbox.min.js"></script>	
   <script src="$context.getProperties().get("serverRoot")/res/js/mylib.js"></script>
   <script src="$context.getProperties().get("serverRoot")/res/js/4shan/mypanellib.js"></script>
   
  
   						
   #foreach($jsUrl in $context.getJsUrls())
	 <script type="text/javascript" src="$jsUrl"></script>
   #end
   

<script>
$(function(){
	console.log('Im ready'); 
	   
    #foreach($jsUrl in $context.getOnJsReady())
    	console.log('Im ready'); 
		$jsUrl
	#end
});
</script>
   </body> 
</html>