<div class="page-header">

 #if ( $context.getParameter('path') != "admin"  )
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">dde</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">$context.getParameter('path')</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
      <ul class="nav navbar-nav">
        <!-- generate categoies dynamically -->			
        <li class="active" id="gitlab"><a href="$context.getProperties().get("serverRoot")/index/gitlab/" >gitlab</a></li>
        <li id="angularJs"><a href="$context.getProperties().get("serverRoot")/index/angularJs/" >angularJs</a></li>
        <li id="maven"><a href="$context.getProperties().get("serverRoot")/index/maven/" >maven</a></li>
        <li id="cumcumber"><a href="$context.getProperties().get("serverRoot")/index/cumcumber/" >cumcumber</a></li>
        <li id="admin"><a href="$context.getProperties().get("serverRoot")/admin/admin/">admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
 		<form class="navbar-form navbar-left" role="search">
  			<div class="form-group">
    			<input type="text" class="form-control" placeholder="Category">
  			</div>
  			<button type="submit" class="btn btn-default">search</button>
	 	</form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
#else
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">dde</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:red;">Admin</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
 #end
</div>
