



<div class="panel-group" id="MainPanel">
</div> 



#set ($js1 = $context.getProperties().getProperty("serverRoot")+"/res/js/4shan/admin.js")
#set ($js2= $context.getProperties().getProperty("serverRoot")+"/res/js/4shan/adminPanel.js")
#set ($js3 = $context.getProperties().getProperty("serverRoot")+"/res/js/4shan/adminCommentPanel.js")



$context.setJsDependency($js1)
$context.setJsDependency($js2)
$context.setJsDependency($js3)


#foreach($subject in $context.getSubjects())
	
  $context.addOnJsReady("new Esgi.module.user.adminPanel($subject)")		 
#end
   



$context.addOnJsReady("new Esgi.module.user.Admin({ id : '#admin'})")



<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
  search a subject
</button>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModal2Label">Find comments by subject</h4>
      </div>
      <div id="admin">
      </div>	
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        
      </div>
    </div>
  </div>
</div>
$context.addOnJsReady("$('#myModal2').on('hidden.bs.modal',function(e){$('#comForm').remove();})")

