

<div id="container">
</div>



#set ($js = $context.getProperties().getProperty("serverRoot")+"/res/js/4shan/addComment.js")
$context.setJsDependency($js)
$context.addOnJsReady("new Esgi.module.user.Comment({ id : '#container'})")


